<body class="text-dark">
    <div class="bg_img d-flex flex-column justify-content-center">
        <div class="d-flex flex-column text-center">
            <h1>SNOWTRICKS</h1>
            <p class="lead m-3">Site collaboratif pour faire connaître le SnowBoard auprès du grand public et aider à l'apprentissage des figures</p>
        </div>
        <div class="d-flex flex-column text-end d-none d-lg-block d-md-block d-sm-none">
            <a href="#trick-section"><img class="arrow-down" src="{{ asset('images/fleche.svg') }}"></a>
        </div>
    </div>

    <div id="trick-section"  class="container-fluid bg-light py-5 text-center">
        <h2 class="text-primary">Tous les tricks</h2>
        <p class="font-weight-bold mb-0">Toutes les figures entrées par les utilisateurs</p>
        {% for trick in tricks %}   
            {% if tricks < 10 %}  
               
                <div class="d-flex flex-wrap">
                {% for picture in trick.picture %}
                    <div class="text-center">
                        <img src="/images/picture_upload/{{ picture.path }}" width="150px" height="150px" class="m-1">
                        {{ trick.name }}
                    </div>
                {% endfor %}
                {% for video in trick.video %}
                    <div class="ratio-1x1">
                        <iframe src="https://youtube.com/embed/{{ video.url }}" title="YouTube video" class="m-1"></iframe>
                        {{ trick.name }}
                    </div>
                {% endfor %}
                </div>

                
            {% elseif tricks > 2 %}  
                <div class="d-flex flex-wrap">
                    {% for picture in trick.picture %}
                        <div class="text-center">
                            <img src="/images/picture_upload/{{ picture.path }}" width="150px" height="150px" class="m-1">
                            {{ trick.name }}
                        </div>
                    {% endfor %}
                    {% for video in trick.video %}
                        <div class="ratio-1x1">
                            <iframe src="https://youtube.com/embed/{{ video.url }}" title="YouTube video" class="m-1"></iframe>
                            {{ trick.name }}
                        </div>
                    {% endfor %}
                </div>

            {% endif %}   
            
        {% endfor %}
        <button id="buttonload" onclick="toggle_visibility('trick-section');">
            <i class="fa fa-spinner fa-spin"></i>Voir plus
        </button> 
</div>
    
   

    {% block javascripts %}  
    {% endblock %}
    <script type="text/javascript">
        function toggle_visibility('trick-section') {
            var e = document.getElementById(buttonload);
            if(e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }
    </script>
</body>