{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    <h1 class="primary-title">Inscription</h1>
    {{ form_start(registrationForm) }}
    <div class="form-control d-flex flex-column">
        <div class="row mb-8 ">
            <div class="col-6 col-sm-8 offset-sm-3 mb-2">
                {{ form_row(registrationForm.fullname, { label: 'Votre pseudo :' }) }}
            </div>
            <div class="col-6 col-sm-8 offset-sm-3 mb-2">
                {{ form_row(registrationForm.email, { label: 'Votre adresse mail :' }) }}
            </div>
            <div class="col-6 col-sm-8 offset-sm-3 mb-2">
                {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe :'}) }}
            </div>
            <div class="col-6 col-sm-8 offset-sm-3 mb-2">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <div class="col-6 col-sm-8 offset-sm-3">
                <button class="primary-button">Inscription</button>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>

    {% endblock %}