{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{{ form_start(registrationForm) }}  
<div class="container col-lg-6 col-md-12 col-sm-12">
    <h1 class="text-center mt-3">Inscription</h1>
            
    <div class="form-control text-center">
        <div class="row"> 
            
            {{ form_row(registrationForm.fullname, { label: 'Votre pseudo :' }) }} 
            {{ form_row(registrationForm.email, { label: 'Votre adresse mail :' }) }} 
            {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe :'}) }} 
            {{ form_row(registrationForm.agreeTerms) }} 
            <button class="btn btn-dark">Inscription</button> 
        <a href="{{ path('app_login') }}" target="_blank">Déja un compte</a>
        {{ form_end(registrationForm) }}
        </div> 
    </div>
</div>
    {% endblock %}