{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
{% block subtitle %}<h1 class="text-center mt-3">Toutes les figures</h1>{% endblock %} 
<div class="container">
    <div class="row">
        {% for trick in tricks %} 
            <div class="col-xl-4 col-md-6 col-sm-12 p-3">
                <div class="card mb-2 ">      
                    <img src="{{ trick.picture }}" class="card-img-top img-post p-1" alt="...">
                    <img src="{{ trick.video }}" class="card-img-top img-post p-1" alt="...">

                    <div class="card-body">
                        <h4 class="card-title text-center">{{ trick.name }}</h4> 
                        <p class="card-text text-justify">{{ trick.text }}</p> 
                        <p class="card-text text-center">{{ trick.category }}</p> 

                        <p class="card-text text-end">{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</p>                        
                        <p class="card-text text-center"><a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-dark mb-2">Découvrir</a></p>
                        {% if trick.updateAt is not empty %}
                            <p class="card-text mt-1 text-end">modifié le : {{ trick.updateAt ? trick.updateAt|date('Y-m-d H:i:s') : '' }}</p> 
                        {% endif %}
                        <a href="{{ path('trick_show', {'id': trick.id}) }}">Voir</a>
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}">Modifier</a>
                        {{ include('trick/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <a href="{{ path('trick_new') }}">Créer une nouvelle figure</a>
    </div> 
</div>
{% endblock %}
