{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
{% block subtitle %}<h1 class="text-center mt-3">Toutes les figures</h1>{% endblock %} 
<div class="container">
    <div class="col-12">
        <a href="{{ path('trick_new') }}" class="btn btn-dark mb-2">Créer une nouvelle figure</a>
    </div>
    <div class="card col-xl-4 col-md-6 col-sm-12">
        {% for trick in tricks %}
                <div class="">
                {% for picture in trick.picture | slice (1) %}
                    <img src="/images/picture_upload/{{ picture.path }}" class="card-img" alt="..." width="200px" height="150px">
                {% endfor %}
                </div>
                
                <div class="d-flex flex-wrap mt-3">
                    <div class="flex-row">
                    {% for picture in trick.picture %} 
                        <img src="/images/picture_upload/{{ picture.path }}" class="card-img w-50 h-50">
                    {% endfor %}    
                    </div>
                    {% for video in trick.video %}
                        <div class="ratio-1x1">
                            <iframe src="https://youtube.com/embed/{{ video.url }}" title="YouTube video"></iframe>
                        </div>
                    {% endfor %}
                </div> 

                <div class="card-body">
                    <h4 class="card-title text-center">{{ trick.name }}</h4> 
                    <p class="card-text text-justify">{{ trick.text }}</p> 
                    <p class="card-text text-end">{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</p>                        
                    <p class="card-text text-center">
                        <a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-dark mb-2">Découvrir</a>
                    </p>
                    {% if trick.updateAt is not empty %}
                        <p class="card-text mt-1 text-end">modifié le : {{ trick.updateAt ? trick.updateAt|date('Y-m-d H:i:s') : '' }}</p> 
                    {% endif %}
                    
                </div>
                
            </div>
        {% endfor %} 
    </div> 
</div>
{% endblock %}
{% block javascripts %}  
{% endblock %}