{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
{% block subtitle %}<h1 class="text-center mt-3">Toutes les figures</h1>{% endblock %} 
<div class="container">
    <div class="col-12">
        <a href="{{ path('trick_new') }}" class="btn btn-dark mb-2">Créer une nouvelle figure</a>
    </div>
    <div class="row">
        {% for trick in tricks %}
            <div class="col-xl-4 col-md-6 col-sm-12 p-3">
                <div class="card mb-2 ">                  
                    {% for picture in trick.picture %}
                        <li class="picture">
                            <img src="/images/picture_upload/{{ picture.path }}" width="100px" height="100px">
                        </li>
                    {% endfor %}

                    {% for video in trick.video %}
                        <div class="ratio" style="--bs-aspect-ratio: 50%">
                            <iframe src="https://youtube.com/embed/{{ video.url }}" title="YouTube video"></iframe>
                        </div>
                    {% endfor %}


                    <div class="card-body">
                        <h4 class="card-title text-center">{{ trick.name }}</h4> 
                        <p class="card-text text-justify">{{ trick.text }}</p> 

                        <p class="card-text text-end">{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</p>                        
                        <p class="card-text text-center">
                            <a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-dark mb-2">Découvrir</a>
                        </p>
                        {% if trick.updateAt is not empty %}
                            <p class="card-text mt-1 text-end">modifié le : {{ trick.updateAt ? trick.updateAt|date('Y-m-d H:i:s') : '' }}</p> 
                        {% endif %}
                        <div class="d-flex justify-content-around">
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-dark mb-2">Modifier</a>
              
                            {{ include('trick/_delete_form.html.twig') }}
                       </div>
                    </div>
                </div>
            </div>
        {% endfor %}
       
    </div> 
</div>
{% endblock %}
{% block javascripts %}  
{% endblock %}