{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block content %}
<div class="container text-center">
    {% if app.user %}
    <div class="col-12">
        <a href="{{ path('trick_new') }}" class="btn btn-dark mb-2">Créer une nouvelle figure</a>
    </div>  
    {% endif %}
    <div class="col-12 text-center">
        <div class="card">
            {% if trick.picture is not empty%}
            <img src="/images/picture_upload/{{ trick.picture.first.path }}">
            {% else %}
            <img src="https://via.placeholder.com/250x150">
            {% endif %}
            <div class="card-img-overlay">
                {% if app.user %}
                <div class="d-flex flex-row justify-content-end">
                    <a href="{{ path('trick_edit', {'slug': trick.slug}) }}"><img class="mt-2" src="{{ asset('images/edit.svg') }}"></a>
                    {{ include('trick/_delete_form.html.twig') }}
                </div>
                {% endif %}
                <h4 class="card-title text-white">{{ trick.name }}</h4>   
            </div>  
        </div>
        <div class="d-flex flex-wrap justify-content-around mt-2">
        {% for picture in trick.picture %}
            <div class="medias {{ loop.index > 0 ? 'd-none' : null}}" style="flex: 1 1 160px;"> 
                <img src="/images/picture_upload/{{ picture.path }}" class="m-1" width="300px" height="150px">
            </div>
            {% endfor %}
            {% for video in trick.video %}            
                <div class="ratio-1x1">
                    <iframe src="https://youtube.com/embed/{{ video.url }}" title="YouTube video"></iframe>
                </div>
            {% endfor %}
        </div>
        <div class="mt-1">
                <button data-class="medias" class="buttonload">
                    <i class="btn-secondary"></i>Voir plus
                </button> 
            </div>

        <div class="card-body text-center">
            <p class="card-text text-justify">{{ trick.text }}</p>
        </div>
        <div class="d-flex flex-wrap justify-content-center">  
            <p class="card-text mt-1 p-2">Créer le : {{ trick.createdAt ? trick.createdAt|date('d-m-Y H:i') : '' }}</p>                        
                {% if trick.updateAt is not empty %}
                    <p class="card-text mt-1 text-end">Modifié le : {{ trick.updateAt ? trick.updateAt|date('Y-m-d H:i:s') : '' }}</p> 
                {% endif %}   
            <p class="card-text mt-1 p-2">
                 Catégorie : {{ trick.category.name }}
            </p>
        </div>
        <div class="bg-light">
            {% if app.user %}
                <h3 class="text-justify m-2">Laissez nous votre avis : </h3>                        
                {{ render(path('comment_new', {id : trick.id})) }}
            {% else %}
                <p class="card-text text-center m-3">Pour laisser un commentaire vous devez vous connecter</p> 
            {% endif %}
        </div>
    </div>
    <div>
        {% if trick.comments is not empty%}
        <div class="list-comment">
            {% include 'comment/_list.html.twig' %}
        </div>
        {% endif %}
        <div class="text-center">
            <button data-page=1 data-class="comments" class="buttonload p-1 mb-5">
                <i class="fa fa-spinner fa-spin"></i>Voir plus
            </button> 
        </div>
    </div>
</div> 
{% endblock %}
{% block javascripts %}  
    <script type="text/javascript">
       $(function () { 
            $('.buttonload').on('click', function (e) { 
                e.preventDefault();
                let dataclass = $(this).attr('data-class');
                let $cards = $( '.' + dataclass + '.d-none').slice(0, 5);
                if ($cards.length === 0) { 
                    $(this).remove(); 
                } 
                $cards.each(function (x) { 
                    $(this).removeClass('d-none') 
                })
                let $that = $(this)
                let page = $(this).attr('data-page');
                $.ajax({
                    url: window.location.href + '?page=' + page
                }).then(function(response) {
                    $that.attr('data-page', parseInt(page) + 1);
                    $('.list-comment').append(response)
                })
            })
        })
    </script>
{% endblock %}